{% extends 'base.html' %}
{% load static %}

{% block title %}
    <title> Hệ thống điểm danh - BDU </title>
{% endblock %}

{% block herosection %}
    <!-- Hero Section Begin -->
    <section class="hero-section set-bg" data-setbg="{% static 'img/mountains_snow_summit.jpg' %}">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="hero-text">
                        <span>Machine Learning, Computer Vision</span>
                        <h1>Hệ thống điểm danh khuôn mặt</h1>
                        <p> Xây dựng và triển khai hệ thống nhận diện bằng khuôn mặt và điểm danh lớp học <br> tại trường Đại học Bình Dương</p>
                        <a href="#" class="primary-btn">Read More</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Hero Section End -->
{% endblock herosection %}

{% block content %}
    
{% endblock %}
